<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Filter Cats and Dogs</title>
  </head>
  <body>
    <h1> Filter Cats!</h1>
    <form method="get">
      <select name="cat_selection">
        <option value="sleepy">Sleepy Cats</option>
        <option value="awake">Not Sleepy Cats</option>
        <option value="all">All Cats</option>
        <option value="pizza">Cats who love Pizza</option>
      </select>
      <input type="submit" name="" value="Filter">
    </form>

    <!--
      Create another form to allow the user to enter
      a name and filter for all the cats with that name
      Hint: You will need another handler and update
            the action on the form :)
    -->

    <table>
      <tr>
        <th>Name</th>
        <th>Favorite Food</th>
        <th>Sleepy?</th>
        <th>Delete?</th>
      </tr>
      {% for cat in cats %}
      <tr>
        <td>{{cat.name}}</td>
        <td>{{cat.favorite_food}}</td>
        <td>
          {%if cat.sleepy %}
          Yes
          {% else %}
          No
          {% endif %}
        </td>
      </tr>
      {% endfor %}
    </table>
  </body>
</html>
